body{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    background-color:white;
    overflow-y:scroll;
}

/* global main page */
.main {
    margin-left: 25vw; /* Same as the width of the sidebar */
    text-align: center;
}

section {
    height: 100vh;
}

.container {
    padding: 5% 5%;
    text-align: left;
    margin-left: 5%;
}

h1{
    font-size:5vh;
    margin-bottom:10px;
}

h2 {
    font-size:2.5vh;
    font-weight:bold;
    margin: 5% 0px;
    text-align: left;
}

p {
    margin: 1 rem;
}

a {
    padding-block: 5px;
    text-decoration:none;
}

#divider {
    max-width: 40%;
    position: relative;
    margin-top: -10%;
    display: inline-block;
}

.fa-bars{
    position: fixed;
    top:10px;
    left:10px;
    color: #91be89;
}

::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #91be89;
    border-radius: 20px;
    border: 5px solid white;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #67995e;
}

/* square screens*/
@media (min-aspect-ratio: 4/4) {
    p {font-size: 3vh;}
    .sidenav {width: 25vw;}
    .sidenav nav {font-size: 1.55vw;}
    .sidenav .contact-dropdown {font-size: 1vw;}  
    #resume {font-size: 1.35vw; padding: 0px 2vw; right: 32%;}
    .main {margin-left: 25vw}
    .fa-bars {z-index: 0;}
    .sidenav {display: block;}
    .scrolling-projects {overflow-y: hidden; grid-template-columns: repeat(3, 100%);}
    .project-col{display: grid; grid-gap: 20px; grid-template-columns: 40% 50%;}
    .project-img {max-width: 100%; max-height: 80%}
}

/* wide horizontal screens*/
@media (min-aspect-ratio: 7/4) {
    p {font-size: 3vh;}
    .sidenav {width: 25vw;}
    .sidenav nav {font-size: 1.55vw;}
    .sidenav .contact-dropdown {font-size: 1vw;}  
    #resume {font-size: 1.35vw; padding: 0px 2vw; right: 32%;}
    .main {margin-left: 25vw}
    .fa-bars {z-index: 0;}
    .sidenav {display: block;}
    .scrolling-projects {overflow-y: hidden; grid-template-columns: repeat(3, 46%);}
    .project-col{display: grid; grid-gap: 20px; grid-template-columns: 40% 50%;}
    .project-img {max-width: 100%;}
}

/* vertical screens*/
@media (max-aspect-ratio: 4/4) {
    p {font-size: 2.5vh;}
    .sidenav {width: 300px;}
    .sidenav nav {font-size: 3.5vh;}
    .sidenav .contact-dropdown {font-size: 2vh;}  
    #resume {font-size: 3vh; padding: 0px 30px; right: 90px;}
    .main {margin-left: 0px}
    .fa-bars {z-index: 2;}
    .sidenav {display: none;}
    .scrolling-projects {overflow-y:scroll; grid-template-columns: repeat(3, 100%);}
    .project-col{display: block; padding: 10%;}
    .project-img {max-height: 40vh;}
}

/* side navigation */
.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color:#99bb92;
    text-align: center;
}

.sidenav header {
    padding: 10% 5% 0% 5%;
    color: #ffffff;
}

#profile-img {
    max-width: 75%;
    /*<span class="overlay">Alyssa Song</span>
    border-radius: 50%;
    border: 2px solid #f1f1f1;*/
}

/*.overlay {
    position: fixed;
    display: block;
    padding: 0px 2vw;
    top: 180px;
    left: 50px;
    background-color: #91be8996;
    border: 2px solid;
    border-color: white;
    font-size: 25px;
}*/
  
.sidenav nav {
    padding: 2% 10% 5%;
}

.sidenav a {
    display: block;
    width: 100%;
    color: #ffffff;
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: #ffffff2a;
}

[class*="fa-caret"]{
    padding: 5px 0px 5px 10px;
}

.sidenav .contact-dropdown {
    display: none;
    width: 95%;
    padding-left: 5%;
}

#resume {
    border: 2px solid;
    border-color: white;
    color: white;
    width: fit-content;
    position: absolute;
    bottom: 5%;
}

#resume:hover {
    border-color: #f1f1f1;
    background: #ffffff2a;
}

/* about */
#about{
    color:#67995e;
    background: white;
}

#about .intro{
    margin-top: 15%;
}


/* projects */
.fa-github{
    color:#67995e;
}

#projects{
    position: relative;
    text-align:center;
    color:#67995e;
    background: white;
}

.scrolling-projects {
    margin-top: 4vh;
    height: 70vh;
    overflow-x: scroll;
    display: grid;
    grid-gap: 5%;
}

.project-col{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 10%;
    padding-right:10%;
    min-height: 70vh;
    background: #91be898a;
    color: #67995e;
}

.tools {
    font-size: 1.75vh;
    font-style: italic;
    text-align: left;
}

.description {
    font-size: 2.25vh;
    margin: 1vh 0px;
    text-align: justify;
}

