body{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    background-color:white;
    overflow-y:scroll;
}

/* global main page */
.main {
    margin-left: 25%; /* Same as the width of the sidebar */
    text-align: center;
}

section {
    height: 100vh;
}

.container {
    padding: 5% 5%;
    text-align: left;
}

p {
    font-size: 20px;
    margin: 1 rem;
}

a {
    padding-block: 5px;
    text-decoration:none;
}

.centered {
    text-align: center;
}

#page-break {
    max-width: 80%;
    position: relative;
    margin-top: -10%;
    z-index: 2;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* side navigation */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 25%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #91be89;
    text-align: center;
}

.sidenav header {
    padding: 10% 5% 0% 5%;
    font-size: 30px;
    color: #ffffff;
}

#img-profile {
    border-radius: 50%;
    max-width: 75%;
    max-height: 75%;
    border: 2px solid #f1f1f1;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: block;
    width: 15%;
    height: fit-content;
    top: 33%;
    left: 5%;
    background-color: #91be8996; /* background with opacity */
    border: 2px solid;
    border-color: white;
    font-size: 2vw;
}
  
.sidenav nav {
    padding: 0% 10% 5%;
    font-size: 20px;
}

.sidenav a {
    display: block;
    width: 100%;
    color: #ffffff;
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: #acd8a496;
}

.sidenav .contact-dropdown {
    display: none;
    width: 95%;
    padding-left: 5%;
    font-size: 15px;
    /*add lighter background color to emphasize?*/
}

.fa {
    padding: 5px 0px 5px 10px;
}

#resume {
    border: 2px solid;
    border-color: white;
    background: #91be89;
    padding: 0.5% 10%;
}

#resume a {
    color: white;
    font-size: 15px;
}

#resume:hover {
    border-color: #f1f1f1;
    background: #acd8a496;
}

/* about */
#about{
    color:#73ac69;
    background: white;
}

#about h1{
    font-size:30px;
    margin-bottom:10px;
}

#about .intro{
    color:#73ac69;
    margin-top: 13%;
    margin-left: 50px;
}



/* projects */
#projects{
    position: relative;
    background: white;
    text-align:center;
    color:black;
}

